.popup__closed {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(../../../images/Close\ Icon.svg);
  background-size: cover;
  border: none;
  color: #fff;
  z-index: 444;
  background-color: transparent;
}