.page {
  max-width: 880px;
  margin: 0 auto;
}

@media  screen and (max-width: 1024px) {
.page {
max-width: 720px;
} 
}

@media screen and (max-width: 768px) {

.page{
  max-width: 520px;
  }
}

@media screen and (max-width: 560px) {

  .page{
    width: 100%;
    }
  }