.popup__button {
  background-color: #000;
  color: #fff;
  border: none;
  margin-bottom: 37px;
  min-height: 50px;
}

@media screen and (max-width: 560px) {
  .popup__button {
    margin-bottom: 25px;
  }
}