.header__line {
  object-fit:cover;
  max-width: 880px;
}

@media screen and (max-width: 1024px) {

.header__line {
  max-width: 720px;
  } 
}

@media screen and (max-width: 768px) {

  .header__line{
    max-width: 520px;
    }
  }

  @media screen and (max-width: 560px) {

    .header__line{
      width: 320px;
      }
    }